@charset "UTF-8";

#modal-content {

    position:fixed;
    display:none;
    z-index:9999;
    width:30%;
    margin:0;
    padding:15px 20px;
    border:2px solid #aaa;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

#modal-overlay {
    z-index:9990;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

/*ボタンのところ*/
.modalflex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    margin: 1rem;
    max-width: auto;
    min-width: 2rem;
}

/*いいえ*/
.modalflex-container  #modal-lbutton {
    -webkit-flex-grow: 1; /* Safari */
    flex-grow:         1;
    text-align: right;
}

/*はい*/
.modalflex-container  #modal-rbutton {
    -webkit-flex-grow: 1; /* Safari */
    flex-grow:         1;
    text-align: left;
}

/*OK*/
.modalflex-container  #modal-cbutton {
    -webkit-flex-grow: 1; /* Safari */
    flex-grow:         1;
    text-align: center;
}

/*モーダルのボタンデザイン*/
/*いいえボタン*/
.mod-nobutton {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: #000;
  border: solid 2px #67c5ff;
  background: #fff;
  border-radius: 3px;
  transition: .4s;
  width:50%;
  min-height:2rem;
  font-size: 1rem;
}

.mod-nobutton:hover {
  border: solid 2px #67c5ff;
  background: #67c5ff;
  color: white;
  box-shadow: 0 0 7px #66c4ff;
}

/*はいボタン*/
.mod-yesbutton {
  display: inline-block;
  margin-right: 1rem;
  padding: 0rem 0.6rem;
  text-decoration: none;
  color: #000;
  border: solid 2px #ff6666;
  background: #fff;
  border-radius: 3px;
  transition: .4s;
  width:50%;
  min-height:2rem;
  font-size: 1rem;
}

.mod-yesbutton:hover {
  border: solid 2px #ff6666;
  background: #ff6666;
  color: white;
  box-shadow: 0 0 7px rgb(255,92,92);
}

/*OKボタン*/
.mod-okbutton {
  display: inline-block;
  padding: 0.3rem 0.2rem;
  text-decoration: none;
  color: #000;
  border: solid 2px #ffcc66;
  background: #fff;
  border-radius: 3px;
  transition: .4s;
  width:50%;
  min-height:2rem;
  font-size: 1rem;
}

.mod-okbutton:hover {
  border: solid 2px #ffcc66;
  background: #ffcc66;
  color: white;
  box-shadow: 0 0 7px rgb(239,144,2);
}

.cl {
  clear: both;
}
